<DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>ご指定のページが見つかりません</title>
<style>
body {
font-family: メイリオ, Meiryo, Helvetica, sans-serif;
}
#mainarea {
width: 90%;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 5%;
padding-right: 5%;
}

#en_mainarea_content{
display:none;
}
</style>
</head>

<body>

<div id="cont_inner" class="clearfix">

        <!--START MAINAREA-->
        <div id="mainarea" class="category_top">
<br><br>
            <img src="/oa/jp/news/images/logo.gif" />
<br><br>
            <!--START MAINAREA_CONTENT-->
            <div id="jp_mainarea_content">
    
            <p class="error_img"><h1>お探しのページは見つかりません。</h1></p>
            
            <p class="error_txt">申し訳ありません、お探しのページは一時的にアクセスができない状態にあるか、移動もしくは削除された可能性があります。</p>
            
            <div class="grid_2col clearfix">
            	<div class="block fl">
                    <a href="index.html">トップページへ戻る</a> | <a href="#" onclick="window.history.back();">一つ前のページへ戻る</a>
                </div> 
            </div>
    
            </div>

            <div id="en_mainarea_content">
    
            <p class="error_img"><h1>The page you were looking for could not be found</h1></p>
            
            <p class="error_txt">Sorry, the page you were looking for could not be found. It could be temporarily inaccessible, moved, or deleted.</p>
            
            <div class="grid_2col clearfix">
            	<div class="block fl">
                    <a href="/content/fuso/en/index.html">Go to the top page</a> | <a href="#" onclick="window.history.back();">Go back to your previous page</a>
                </div> 
            </div>
    
            </div>

            <!--END MAINAREA_CONTENT-->

    </div>
    <!--END MAINAREA-->

    </div>

<script>
(function() {
  if(window.location.toString().match(/\/en\//)) {
    document.getElementById('jp_mainarea_content').style.display = 'none';
    document.getElementById('en_mainarea_content').style.display = 'block';
  }
})();
</script>

</body>
</html>
