html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
.logoX {
	position: absolute;
	right: 15px;
	bottom: 75px;
	text-align: right;
	z-index: 50;
}
.logoX img {
	width: 70%;
	height: auto;
}


.COPYRIGHT2 span {
	padding: 10px 0 0 0;
	color: #FFFFFF;
	font-size: normal;
}

body{line-height:1.2; font-size: 14px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}.COPYRIGHT2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 95px;
	padding: 15px 0 20px 110px;
	margin-bottom: 0px;
	position: relative;
	background-color: #262626;
}
#formDiv {
}
#sortBy {
}
#btnFuso {
}
