@charset "utf-8";
/* CSS Document */

ul.nav.navbar-nav.navbar-right {
    padding-right: 0;
}

div.left.col-sm-5.mortimerHarvey.col-xs-6 {
    padding-right: 30px;
}

@media (min-width: 768px) {
    .navbar-header {
        float: right;
    }
    
    .navbar-nav {
        float: right;
        margin: 0;
    }
    
    ul.nav.navbar-nav {
        padding-right: 0;
    }
    
    .navbar-nav > li {
        float: right;
    }
    
    li.submenuFooter {
      float: none;
    }
}

